PointerAlignment: Right

# Includes
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^".*'
    Priority: 1
  - Regex: '^<arch/.*'
    Priority: 2
  - Regex: '^<.*'
    Priority: 3
MainIncludeChar: AngleBracket
IncludeIsMainRegex: '([-_a-zA-Z0-9]+)\.c'  # Match .c files and enforce "..." for same-dir headers.
