BreakBeforeBraces: Custom
BraceWrapping:
  AfterStruct: true
  AfterUnion: true
  AfterEnum: true
  AfterExternBlock: true
  SplitEmptyRecord: false
  SplitEmptyFunction: false
  SplitEmptyNamespace: false
  AfterControlStatement: true
  AfterFunction: true

AllowShortBlocksOnASingleLine: Always

InsertBraces: false
InsertNewlineAtEOF: true

KeepEmptyLines:
  AtEndOfFile: false
  AtStartOfBlock: false
  AtStartOfFile: false

PointerAlignment: Right
QualifierAlignment: Custom
QualifierOrder: [constexpr, static, inline, volatile, const, type]

ReflowComments: true

RemoveParentheses: Leave

SeparateDefinitionBlocks: Leave

LineEnding: LF
ExperimentalAutoDetectBinPacking: false
DerivePointerAlignment: false
ColumnLimit: 180
UseTab: Never
IndentWidth: 4
ContinuationIndentWidth: 4
PPIndentWidth: 0
Language: Cpp # For C in reality.
MaxEmptyLinesToKeep: 2

# Includes
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^".*'
    Priority: 1
  - Regex: '^<arch/.*'
    Priority: 2
  - Regex: '^<.*'
    Priority: 3
MainIncludeChar: AngleBracket
IncludeIsMainRegex: '([-_a-zA-Z0-9]+)\.c'  # Match .c files and enforce "..." for same-dir headers.
