# Timeout in seconds that Limine will use before automatically booting.
TIMEOUT=3

# Same thing, but without KASLR.
:lykOS Alpha v0.1 (KASLR off)
    PROTOCOL=limine

    # Disable KASLR (it is enabled by default for relocatable kernels)
    KASLR=no

    KERNEL_PATH=boot:///kernel.elf